.right-block{
	float: right;
}
.left-block{
	float: left;
}
.w50{
	width: 50%;
}
.dt{
	display: table;
}
.tdu{
	text-decoration: underline;
}
.black-bg{
	background: $clr_black;
}
.white-bg{
	background: $clr_white;
}
.clr_orange{
	color: $clr_orange;
}
.white-bg-padding{
	background: $clr_white;
	padding: 10px 20px;
	display: inline-block;
}
@media (max-width: 580px){
	.w100-xxs{
		width: 100% !important; 
	}
}
@keyframes fadeIn { 
	0% {opacity: 0;} // CSS properties at start
	100% {opacity: 1;} // CSS properties at end
}
.text-container{
	max-width: 950px;
	margin: 0 auto;
	padding: 0 15px;
}
.top-baner-img{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	animation: opacity 3s;
	animation-name: fadeIn;
}
.top-baner{
	background-size: cover;
	background-position: 50%;
	position: relative;
	background: $clr_black;
	.top-baner-box{
		display: table-cell;
		vertical-align: middle;
		width: 1%;
		height: 100vh;
		position: relative;
		z-index: 1;
		.info{
			max-width: 855px;
			color: $clr_white;
			z-index: 2;
			@media (max-width: 991px){
				max-width: 100%;
			}
			.h1 span{
				font: 400 60px/63px $font-gilda, sans-serif;
				margin: 0 0 20px;
				animation: translateToBegin .4s 1.4s linear forwards,textWhiteToBlack .2s 3.7s linear forwards;
				opacity: 0;
				transform: translateY(50%);
				zoom: 1;
				&:after, &:before {
					content: "";
					display: table;
					line-height: 0;
				}
				&:after {
					clear: both;
				}
				&:nth-child(2) {
					animation-delay: 1.7s, 3.7s;
				}
				@media (max-width: 991px){
					font-size: 48px;
					line-height: 55px;
				}
				@media (max-width: 768px){
					font-size: 36px;
					line-height: 44px;
				}
				@media (max-width: 580px){
					font-size: 27px;
					line-height: 32px;
				}
			}
			.text-box{
				font-size: 24px;
				margin: 0 0 20px;
				font: 300 22px/24px $font-montserrat;
				animation: translateToBegin .4s 2s linear forwards;
				opacity: 0;
				transform: translateY(50%);
				@media (max-width: 580px){
					font-size: 20px;
				}
			}
			.default-link{
				animation: translateToBegin .4s 2.3s linear forwards;
				opacity: 0;
				transform: translateY(50%);
			}
		}
	}
}
.success-experience{
	position: relative;
	&.mod-right{
		.right-block{
			float: left;
		}
		.img{
			left: 50%;
		}
		.success-experience--info{
			padding-left: 0;
		}
	}
	&.mod-black{
		color: $clr_white;
	}
	.img{
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 50%;
		position: absolute;
		background-size: cover;
		background-position: 50%;
		@media (max-width: 991px){
			display: none;
		}
	}
	.dt{
		min-height: 500px;
		@media (max-width: 991px){
			min-height: 300px;
		}
	}
	&--info{
		display: table-cell;
		vertical-align: middle;
		font: 300 16px/26px $font-montserrat;
		padding: 50px 0 50px 25px;
		position: relative;
		z-index: 5;
		@media (max-width: 768px){
			height: auto;
			padding: 50px 0;
		}
		@media (max-width: 991px){
			padding-left: 0;
		}
		h2{
			font: 400 40px/43px $font-gilda, sans-serif;
			margin-bottom: 20px;
		}
		p{
			margin-bottom: 20px;
		}
	}
}
.featured-news{
	padding: 80px 0 90px;
	background: $clr_light;
}

.item-list{
	background: $clr_white;
	@media (max-width: 991px){
		margin-bottom: 20px;
	}
	a{
		text-decoration: none;
		color: $clr_black;
	}
	.img{
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
		height: 240px;
	}
	&--info{
		padding: 30px 25px 25px;
		font: 400 23px/30px $font-gilda, sans-serif;
	}
	.default-link{
		color: $clr_orange;
	}	
}
.scrollableArea{
	width: auto!important;
}
.performance{
	background: $clr_black;
	position: relative;
	padding: 60px 0 50px;
	border-bottom: 1px solid #262626;

	h3{
		font-size: 16px;
		line-height: 20px;
		color: $clr_white;
		margin-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0;
	}
	.img{
		text-align: center;
	}
	.bg-img{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.table-block{
		border-top: 1px solid #262626;
		font-weight: 700;
		font-size: 14px;
		max-width: 410px;
		margin: 0 auto;
		color: #fff;
		margin-bottom: 30px;
		th{
			color: $clr_orange;
			padding: 0 25px;
		}
		tr{
			background: transparent;
			&:nth-child(even){
				background: #262626;
			}
			td{
				padding-right: 30px;
				padding: 0 25px;
				&:last-child{
					padding-right: 0;
				}
			}
		}

	}

}

.performance-line{
	padding: 30px 0;
	background: $clr_black;	
	white-space: nowrap;
	overflow: hidden;
}

.inner-top-baner{
	background-size: cover;
	background-position: 50% 75%;
	position: relative;
	&.about-baner{
		height: 500px;
		@media (max-width: 768px){
			height: auto;
		}
		.top-baner-box{
			height: 500px;
			@media (max-width: 768px){
				height: 70vh;
			}
		}
		.info{
			@media (max-width: 991px){
				background: rgba(255, 255, 255, .85);
				padding: 10px;
			}

		}
	}
	.top-baner-box{
		display: table-cell;
		vertical-align: middle;
		width: 1%;
		height: 340px;
		@media (max-width: 768px){
			height: 70vh;
		}
		.info{
			max-width: 550px;
			color: $clr_black;
			font: 400 36px/43px $font-gilda;
			animation: translateToBegin .4s 1.4s linear forwards,textWhiteToBlack .2s 3.7s linear forwards;
			opacity: 0;
			transform: translateY(50%);
			zoom: 1;
			@media (max-width: 991px){
				font-size: 24px;
				line-height: 28px;
			}
			@media (max-width: 580px){
				font-size: 18px;
			}
		}
	}
}
/* subscribe */
.subscribe{
	background: $clr_light;
	padding: 60px 0;
	.subscribe-form{
		margin-top: 15px;
	}
}
.subscribe-text{
	font: 300 16px/24px $font-montserrat;
	letter-spacing: 0;
	h2{
		font: 400 40px/43px $font-gilda;
		margin-bottom: 10px;
		letter-spacing: 0;
		@media (max-width: 768px){
			font-size: 22px;
			line-height: 32px;
		}
	}
}
.subscribe-form{
	position: relative;
	form{
		display: flex;
		@media (max-width: 580px){
			display: block;
		}
	}
	.form-control{
		background: $clr_white;
		font: 700 14px/24px $font-montserrat;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #a6a6a6;
		border: none;
		border-radius: 0;
		padding: 10px 20px;
		height: 54px;
		line-height: 54px;
	}
	.submit-btn{
		@media (max-width: 580px){
			width: 100%;
		}
	}
}
/* end-subscribe */


/* contact-us */
.contact-us{
	background: $clr_black;
	padding: 110px 0;
	color: $clr_white;
	border-bottom: 1px solid $clr_orange;
	position: relative;
	@media (max-width: 768px){
		padding: 60px 0;
	}
	.contact-btn{
		margin-top: 25px;
		position: relative;
		z-index: 1;
	}
	.contact-img-after{
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0; 
		background-size: 607px;
		background-repeat: no-repeat;
		background-position: 97% 100%;
		@media (max-width: 768px){
			display: none;
		}
	}
}
.contact-text{
	font: 300 16px/24px $font-montserrat;
	letter-spacing: 0;
	position: relative;
	z-index: 1;
	h2{
		font: 400 40px/43px $font-gilda;
		margin-bottom: 10px;
		letter-spacing: 0;
	}
}
/* end-contact-us */


/* team-info */
.team-info{
	background: $clr_light;
	padding: 55px 0;
	font: 400 24px/36px $font-gilda;
	.team-info-descr{
		font: 300 16px/30px $font-montserrat;
	}
}
.team-list{
	padding: 60px 0;
}
.team-item{
	color: $clr_black;
	text-decoration: none;
	margin-bottom: 20px;
	display: block;
	transition: all .3s;
	&:hover{
		text-decoration: none;
		color: $clr_orange;
	}
	.img{
		background-size: cover;
		background-position: 50% 0;
		background-repeat: no-repeat;
		height: 270px;
	}
	.descr{
		padding: 20px 0;
		display: block;
		.name{
			font: 400 30px/48px $font-gilda;
			display: block;
			margin-bottom: 5px;
		}
		.possition{
			font: 400 14px/14px $font-montserrat;
			display: block;
			letter-spacing: 1px;
		}
	}
}



.top-team-detail{
	background: $clr_light;	
	padding: 30px 0;
	@media (max-width: 991px){
		.right-block{
			float: none;
		}
	}
}
.team-detail-info{
	h2{
		font: 400 40px/43px $font-gilda;
		margin-bottom: 10px;
	}
	.position{
		font: 400 14px/14px $font-montserrat;
		display: block;
		float: left;
		letter-spacing: 1px;
	}
	.print{
		float: right;
	}
}
.bottom-team-detail{
	padding: 40px 0;
	.team-person-descr{
		font: 300 16px/30px $font-montserrat;
		margin-bottom: 90px;
		p{
			margin-bottom: 30px;
		}
	}
}
.team-person{
	max-width: 270px;
	margin-top: -140px;
	@media (max-width: 991px){
		margin-top: 0;
	}
	.img{
		height: 345px;
		background-size: cover;
		background-position: 50% 0;
		background-repeat: no-repeat;
		margin-bottom: 20px;
	}
	strong{
		display: block;
		margin-bottom: 10px;
	}
}

.policy{
	padding: 60px 0;
	font: 300 16px/20px "Montserrat",sans-serif;
	letter-spacing:0;
	p{
		margin-bottom: 25px;
	}
	h2{
		font: 400 24px/37px $font-gilda;
	}
}



.news-head{
	background: $clr_light;	
	padding: 30px 0;
	text-align: center;
	h2{
		font: 400 40px/43px $font-gilda;
	}
}
.news-list-box{
	padding: 70px 0;
	.load-more{
		width: 100%;
		text-align: center;
		padding: 16px;
		border: 1px solid $clr_orange;
		&.loading{
			background: $clr_light;
			color: $clr_black;
			border: 1px solid #e3e3e3
		}
		&:focus{
			color: $clr_black;
		}
		span{
			display: inline-block;
			position: relative;
			i{
				position: absolute;
				content: '';
				top: 1px;
				left: -25px;
				display: none;
				&.db{
					display: inline-block;
				}
			}
		}
	}
}
.news-list{
	list-style: none;
	padding: 0;
	margin: 0;
	&--item{
		padding-bottom: 60px;
		a{
			color: $clr_black;
			transition: all .3s;
			&:hover{
				h3{
					color: #014c8c;
					text-decoration: none;
				}
			}
		}
		.news-text{
			overflow: hidden;
			display: block;
			padding-right: 125px;
			@media (max-width: 991px){
				padding-right: 25px;
			}
			h3{
				font: 400 24px/37px $font-gilda;
				margin-bottom: 10px;
				transition: all .3s;
				@media (max-width: 991px){
					font: 400 19px/30px $font-gilda;
				}
			}
			.date{
				font: 700 14px/30px $font-montserrat;
				display: block;
				margin-bottom: 15px;
			}
			.text-block{
				position: relative;
				font: 300 16px/30px $font-montserrat;
				p{
					position: relative;
					display: inline;
					&:after{
						position: absolute;
						content: '';
						bottom: 4px;
						right: -20px;
						border: 5px solid transparent;	
						border-left: 5px solid $clr_orange;
						transition: all .3s;
					}
				}
			}
		}
		.news-img{
			float: right;
			height: 200px;
			width: 300px;
			@media (max-width: 768px){
				float: none;
				margin: 0 auto 25px;
				display: block;
				width: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				height: 350px;
			}
		}
		+li{
			border-top: 1px solid #e1e1e1;
			padding-top: 60px;
		}
	}
}

.news-detail{
	padding: 75px 0;
	font: 300 16px/30px $font-montserrat;
	letter-spacing: 0;
	h1{
		font: 400 40px/48px $font-gilda;
		letter-spacing: 0;
		margin-bottom: 20px;
		@media (max-width: 768px){
			font-size: 28px;
			line-height: 32px;
		}
	}
	.date{
		font: 700 14px/18px $font-montserrat;
		color: #a6a6a6;
		letter-spacing: 0;
		display: block;
		margin-bottom: 20px;
	}
	.img{
		margin-bottom: 40px;
		height: 465px;
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
		@media (max-width: 768px){
			height: 300px;
		}
	}
	p{
		margin-bottom: 40px;
		@media (max-width: 768px){
			margin-bottom: 25px;
		}
		+.news-blockquote{
			margin-top: 70px;
			@media (max-width: 768px){
				margin-top: 50px;
			}
		}
	}
}
.news-blockquote{
	padding: 30px 0 35px 60px;
	font: 400 24px/30px $font-gilda;
	letter-spacing: 0;
	border-bottom: 1px solid #dae0e0;
	margin-bottom: 40px;
	position: relative;
	@media (max-width: 768px){
		font-size: 16px;
		line-height: 22px;
		padding: 20px 0 20px 35px;
	}
	&:before{
		background: url('../development/images/blockquote.png');
		position: absolute;
		content: '';
		height: 35px;
		width: 44px;
		background-size: cover;
		top: -35px;
		left: 0;
		@media (max-width: 768px){
			height: 20px;
			width: 25px;
			top: -20px;
		}
	}
	&:after{
		position: absolute;
		content: '';
		height: 1px;
		background: #dae0e0;
		left: 60px;
		right: 0;
		top: 0;
		@media (max-width: 768px){
			left: 35px;
		}
	}
	blockquote{
		margin-bottom: 20px;
	}
	strong{
		font: 700 14px/18px $font-montserrat;
		text-transform: uppercase;
		margin-bottom: 10px;
		display: block;
	}
	span{
		display: block;
		font: 300 16px/18px $font-montserrat;
	}
}


.tag-box{
	h2{
		font: 700 14px/18px $font-montserrat;
		margin-bottom: 15px;	
	}
}
.tag-list{
	list-style: none;
	padding: 0;
	margin: 0;
	&--item{
		display: inline-block;
		a{
			display: block;
			border-radius: 5px;
			padding: 5px;
			color: $clr_white;
			background: #cccccc;
			font: 400 12px/15px $font-montserrat;
		}
	}
}


.tab {
	padding-top: 50px;
	margin-bottom: 20px;
	position: relative;
}

.tabs {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin: 0;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	@media (max-width: 991px){
		flex-wrap: wrap;
		justify-content: center;
	}
	@media (max-width: 768px){
		justify-content: space-around;
	}
	li {
		float: left;
		line-height: 38px;
		padding: 0;
		position: relative;
		display: table;
		&:last-child{
			margin-right: 0;
		}
		@media (max-width: 991px){
			margin-bottom: 15px;
			margin: 0 15px 15px 0;
		}
		@media (max-width: 768px){
			display: inline-block;
			width: 48%;
			margin-right: 0;
		}
		@media (max-width: 520px){
			width: 100%;
		}
		&.current{
			a{
				background: $clr_orange;
				color: $clr_white;
				position: relative;
				&:after{
					position: absolute;
					content: '';
					bottom: -20px;
					right: 50%;
					transform: translate(50%,0);
					border: 10px solid transparent;
					border-top: 10px solid $clr_orange;
					-webkit-transition: all .3s;
					-o-transition: all .3s;
					transition: all .3s;
					@media (max-width: 991px){
						display: none;
					}
				}
			}
		}
		a {
			font: 700 14px/18px $font-montserrat;
			color: #7b7b7b;
			letter-spacing: 0;
			padding: 14px 65px;
			background: #e1e1e1;
			transition: all .3s;
			min-width: 200px;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			width: 1%;
			@media (max-width: 1100px){
				min-width: auto;
			}
			@media (max-width: 768px){
				
			}
		}
	}
}
.team-item-underline{
	font: 400 24px/30px $font-gilda;
	border-bottom: 1px solid #bfbfbf;
	color: $clr_black;
	margin-bottom: 15px;
	display: inline-block;
}
.literature-tabs{
	.tabs_item {
		&:last-child{
			display: block;
		}
		&:first-child{
			display: none;
		}
	}
}
.tabs_item {
	display: none;
	font: 300 16px/30px $font-montserrat;
	padding: 70px 0;
	letter-spacing: 0;
	&:first-child{
		display: block;
	}
	h2{
		font: 400 40px/43px $font-gilda, sans-serif;
	}
	p{
		margin-bottom: 15px;
	}
}



.life-settlements{
	font: 300 16px/30px $font-montserrat;
	letter-spacing: 0;
	h2{
		font: 400 24px/30px $font-gilda;
	}
	p{
		margin-bottom: 15px;
	}
	.img{
		margin-bottom: 20px;
	}
	.border{
		border-bottom: 1px solid #e3e3e3;
		padding: 50px 0;
	}
}

.contact-us-box{
	padding: 60px 0;
}
.info-location{
	h2{
		font: 400 40px/43px $font-gilda, sans-serif;
		margin-bottom: 20px;
	}
	a{
		display: inline-block;
	}
}
.info-location{
	list-style: none;
	margin: 0 0 30px;
	padding: 0;
	li{
		display: block;
		margin-bottom: 5px;
		a{
			color: $clr_black;
			font: 700 18px/30px $font-montserrat;
			color: #414141;
			span{
				display: inline-block;
				vertical-align: middle;
				text-decoration: underline;
				&.phone{
					text-decoration: none;
				}
			}
			img{
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
				max-width: 27px;
			}
		}
	}
}
.location{
	font: 300 16px/30px $font-montserrat;
	h3{
		font: 700 18px/30px $font-montserrat;
		text-transform: uppercase;
	}
}

.contact-box-form{
	font: 300 16px/30px $font-montserrat;
	letter-spacing: 0;
	.contact-form{
		margin-bottom: 30px;
	}
	p{
		margin-bottom: 15px;
	}
}
.contact-form{
	background: #f0f0f0;
	padding: 40px 30px;
	br{
		display: none;
	}
	span.wpcf7-list-item{
		margin: 0;
	}
	.form-control{
		background: $clr_white;
		font: 700 14px/24px $font-montserrat;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #a6a6a6;
		border: none;
		border-radius: 0;
		padding: 10px 20px;
		height: 54px;
		line-height: 54px;
		margin-bottom: 15px;
		border: 1px solid #f0f0f0;
		&:focus{
			outline: none;
			border: 1px solid $clr_orange;
			color: $clr_black;
			box-shadow: none;
		}
		&.textarea{
			resize: none;
			height: 100px;
			line-height: 24px;
		}
	}
	.wpcf7-textarea{
		resize: none;
		height: 100px;
		line-height: 24px;
	}
	[type="checkbox"] {
		&:checked, &:not(:checked) {
			position: absolute;
			left: -9999px;
		}
		&:checked + span, &:not(:checked) + span {
			position: relative;
			padding-left: 28px;
			cursor: pointer;
			display: inline-block;
			font: 300 14px/20px $font-montserrat;
		}
		&:checked + span:before, &:not(:checked) + span:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 19px;
			height: 19px;
			border: 1px solid #ddd;
			background: #fff;
		}
		&:checked + span:after {
			content: '';
			width: 8px;
			height: 8px;
			background: $clr_orange;
			position: absolute;
			top: 6px;
			left: 5px;
			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}
		&:not(:checked) + span:after {
			content: '';
			width: 8px;
			height: 8px;
			background: $clr_orange;
			position: absolute;
			top: 6px;
			left: 5px;
			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
			transition: all 0.2s ease;
			opacity: 0;
			-webkit-transform: scale(0);
			-moz-transform: scale(0);
			-o-transform: scale(0);
			-ms-transform: scale(0);
			transform: scale(0);
		}
	}
	.submit-btn{
		width: 100%;
		margin-top: 15px;
	}
}


.literature-baner{
	background-position: 51% 10%;
}

.literature-tabs{
	.tab{
		padding: 0;
		margin: 0;
	}
	.tabs{
		li{
			width: 33.333%;
			@media (max-width: 991px){
				margin: 0;
			}
			@media (max-width: 580px){
				width: 100%;
			}
			a{
				background: $clr_white;
				color: $clr_black;
				border-top: 1px solid $clr_white;
				border-right: 1px solid $clr_white;
				border-bottom: 1px solid #e3e3e3;
				border-left: 1px solid #e3e3e3;
			}
			&.current{
				a{
					background: $clr_black;
					color: $clr_white;
					&:after{
						display: none;
					}
				}
			}
		}
	}
}

.literature-box{
	max-width: 410px;
	margin: 0 auto;
	color: $clr_white;
	letter-spacing: 0;
	h2{
		font: 700 18px/30px $font-montserrat;
		color: #f0f0f0;
		margin-bottom: 10px;
	}
	h3{
		font: 400 36px/40px $font-gilda;
		margin-bottom: 10px;
		@media (max-width: 580px){
			font-size: 28px;
		}
	}
	.show-more-literature-list:focus{
		color: $clr_orange;
	}
	&.opened{
		.literature-list{
			max-height: 1000px;
		}
	}
}

.literature-list{
	list-style: none;
	margin: 0 0 15px;
	padding: 0;
	max-height: 160px;
	overflow: hidden;
	transition: all 2s;
	li{
		margin-bottom: 10px;
		a{
			color: $clr_white;
			font: 400 16px/18px $font-montserrat;
			transition: all .3s;
			span{
				display: inline-block;
				vertical-align: middle;
				&.ico{
					height: 20px;
					margin-right: 10px;
				}
				&.link-text{
					text-decoration: underline;
				}
			}
			&:hover{
				.link-text{
					text-decoration: none;
				}
			}
		}
	}
}
.more-literature-list{
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
}
#g-map{
	height: 590px;
	max-width: 500px;
}

.pappers_item .download-pdf{
	float: right;
}
.pappers_item .news-list--item a{
	display: block;
	max-width: 800px;
	.news-text{
		padding-right: 55px;
		display: inline-block;
		vertical-align: middle;
		max-width: 587px;
	}
	.download-pdf{
		display: inline-block;
		vertical-align: middle;
		float: none;
	}
}

.animate {
	position: relative;
	max-width: 100%;
	overflow: hidden;
}

.animate-img {
	position: relative;
	width: 100%;
	height: 100vw;
	z-index: 1;
	-webkit-transition: 2.5s;
	-o-transition: 2.5s;
	transition: 2.5s;
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0.2;
	transition-delay: .3s;

}

@media screen and (max-width: 980px) {
	.animate-img {
		background-position: center center !important;
	}
}

@media screen and (min-width: 980px) {
	.animate-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.in-view .animate-img {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

@keyframes translateToBegin {
	to {
		opacity: 1;
		transform: translateY(0)
	}
}
