body.home #header{
  background: transparent;
  position: absolute;
}
#header{
  padding: 20px 0;
  box-shadow: 0 0 16px rgba(18,18,18,0.1);
  position: relative;
  width: 100%;
  z-index: 10;
  background: $clr_black;
}
body.home #header .main-nav ul li a:before{
  bottom: -5px;
}
.main-nav{
  padding-top: 15px;
  float: right;
  ul{
    text-align: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    @media (max-width: 991px){
      display: block;
    }
    li{
      position: relative;
      &.menu-item-has-children > a{
        position: relative;
        @media (max-width: 991px){
          &:after{
            position: absolute;
            content: '';
            top: 6px;
            right: -20px;
            border: 5px solid transparent;  
            border-top: 5px solid $clr_white;
            transition: all .3s;
            @media (max-width: 991px){
              border: 5px solid transparent;  
              border-top: 5px solid $clr_white;
            }
          }
        }
      }
      +li{
        margin-left: 40px;
        @media (max-width: 1100px){
          margin-left: 20px;
        }
        @media (max-width: 991px){
          margin: 15px 0 0 0;
        }
      }
      a{
        color: $clr_white;
        text-transform: uppercase;
        position: relative;
        font: 400 14px/16px $font-montserrat;
        transition: all .3s;
        &:hover{
          text-decoration: none;
          color: $clr_orange;
          &:before{
            width: 100%;
          }
        }
        &:before{
          position: absolute;
          content:'';
          height: 2px;
          left: 0;
          bottom: -31px;
          transition: all .3s;
          background: $clr_orange;
          width: 0;
          @media (max-width: 991px){
            display: none;
          }
        }
      }
      &.dropdown.opened{
        a{
          &:after{
            transform: rotate(-180deg);
            top: 2px;
          }
        }
      }
      .sub-menu{
        position: absolute;
        background: #fff;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        min-width: 220px;
        text-align: left;
        display: block;
        background: $clr_black;
        text-align: center;
        &:before{
          position: absolute;
          content: '';
          height: 40px;
          width: 100%;
          left: 0;
          top: -20px;
          background: transparent;
        }
        &:after{
          position: absolute;
          content: '';
          border: 10px solid transparent;
          border-bottom: 10px solid $clr_black;
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
        }
        li{
          /* @media (max-width: 991px){
           &:first-child{
            padding-top: 10px;
          }
          &:last-child{
            padding-bottom: 10px;
          }
                  } */
      }
      a{
        color: $clr_white;
        padding: 15px;
        display: block;
        &:hover{
          background: $clr_orange;
          &:before{
            display: none;
          }
        }
      }
      @media (max-width: 991px){
        display: none;
        position: relative;
        left: 0;
        padding: 0!important;
        text-align: center; 
        top: 0;
        left: 0;
        transform: translateX(0);
        background: $clr_white;
        li+li{
          margin: 0;
        }
        a{
          color: $clr_black;
        }
        &:before{
          display: none;
        } 
        &:after{
          display: none;
        }
      }
      @media (min-width: 991px){
        opacity: 0;
        visibility: hidden;
      }
      li{
        display: block;
        margin-left: 0;
      }
    }
    &:hover{
      .sub-menu{
        opacity: 1;
        visibility: visible;
        height: auto;
        @media (max-width: 991px){
          display: none;
        }
      }
    }
  }
}
@media (max-width: 991px){
  max-width: 100%;
  background: $clr_black;
  width: 100%!important;
  display: block!important;
  position: fixed;
  text-align: center;
  top: -100%;
  left: 0;
  right: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  height: 100%;
  z-index: 10;
  padding-top: 100px;
  display: block;
}
}


.main-nav .opener{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  @media (min-width: 991px){
    display: none;
  }
}

.logo{
  float: left;
}

body{
  &.menu-opened{
    overflow: hidden;
  }
}
/* open-menu */
.open-menu{
  display: none;
  @media (max-width: 991px){
    position: absolute;
    display: block;
    top:26px;
    right: 15px;
    font-size: 0;
    line-height: 0;
    width: 25px;
    height: 20px;
    z-index: 41;
    span{
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      top:50%;
      transform: translateY(-50%);
      background: $clr-white;
    }
    &:after{
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      -webkit-transform-origin:50%;
      -moz-transform-origin:50%;
      -ms-transform-origin:50%;
      -o-transform-origin:50%;
      transform-origin:50%;
      bottom: 0;
      transition: all .3s;
      background: $clr-white;
    }
    &:before{
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      -webkit-transform-origin:50%;
      -moz-transform-origin:50%;
      -ms-transform-origin:50%;
      -o-transform-origin:50%;
      transform-origin:50%;
      top: 0;
      transition: all .3s;
      background: $clr-white;
    }
  }
}
.menu-opened {
  .main-nav{
    top: 0;
    left: 0;
  }
  .open-menu{
    &:before{
      background: $clr-white;
      top:50%;
      bottom:auto;
      margin-top: -1px;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }
    &:after{
      background: $clr-white;
      top:50%;
      bottom:auto;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }
  }
}
.menu-opened .open-menu span{display: none;}
.fader{
  display: block;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  cursor: pointer;
}